# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# mocks and tests
/src/__mocks__/*
#/src/__tests__/*
#*.test.js

# dependencies
/node_modules
/.pnp
.pnp.js

# env
.env

# Hide Auth0 access key
/src/Auth/auth_config.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/api
.eslintcache

# Ignore docker and styleguidist

.dockerignore
styleguide.config.js


# Ignore Docs

/docs
jsdoc.conf.json
