.progressVisualFull {
    display: flex;
    /* change the value if you want different thickness */
    height: 6px;
    margin: 10px 0;
  }
  
  .progressVisualPart {
    /* Number of the seconds for complete animation */
    transition: width 2s;
  }
  
  .progressLabel {
    /* Nothing here, move along */
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    margin: 10px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
  }
  