div.koboFormsWrapper {
    div.koboForms {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: -10px -10px;
        div.MuiCard-root {
            margin: 10px 10px;
        }
    }
}