.issuesWrapper {
  .loaderRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
  }
  > .repoRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px -15px;
    > .repo {
      margin: 15px 15px;
      width: 200px;
      // height: 150px;
    }
  }
}

.break-column {
  flex-basis: 100%;
  width: 0;
}
